.wenjuan1 {
    width: 300px;
    height: 500px;
    border: 1px solid lightgray;
    margin: 20px auto;
}

.btn1 {
    width: 142px;
    position: relative;
    top: 349px;
    left: 5px;
}

.btn2 {
    width: 93px;
    position: relative;
    top: 295px;
    left: 5px;
}

.btn3 {
    width: 93px;
    position: relative;
    top: 289px;
    left: 5px;
}

#input1 {
    margin-left: 5px;
}

textarea {
    margin: 5px;
    resize: none;
}